@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.outlined-text {
  -webkit-text-stroke: 5px #000;
  text-shadow: 0px 2px 0px #000, 0px 8px 0px #000, 0px 10px 0px #000,
    0px 12px 0px #000;
}

@media (max-width: 640px) {
  .outlined-text {
    -webkit-text-stroke: 2px #000;
    text-shadow: 0px 1px 0px #000, 0px 3px 0px #000, 0px 4px 0px #000,
      0px 5px 0px #000;
  }
}

.countdown-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-value {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}

.countdown-label {
  font-size: 1rem;
  font-weight: bold;
  text-transform: lowercase;
}

@media (max-width: 640px) {
  .countdown-value {
    font-size: 2rem;
  }
  
  .countdown-label {
    font-size: 0.75rem;
  }
}
